{% block app_content %}
<!-- Load Stripe.js on your website. -->
<script src="https://js.stripe.com/v3"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
<button style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
  id="checkout-button-plan_YYaGH7Zqcgm" role="link">
  Checkout
</button>
<div id="error-message"></div>

<script>
  var stripe = Stripe('pk_test_UT0fye7gy1AFe26rO6OZoZ0100Fn1MsVuy');
  var plan = 'plan_pZ7qc7bmtMC'
  var checkoutButton = document.getElementById('checkout-button-plan_YYaGH7Zqcgm');
  checkoutButton.addEventListener('click', function (e) {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    // here we have to call our own api endpoint that will create the session
    e.preventDefault()
    $.ajax({
      type: "GET",
      url: `https://83ea7a75.ngrok.io/sessions/${plan}`,
      headers: {
        'x-adori-user-id': 'cus_FmdWlFBQTGTQLI',
      }
    }).done(function (data) {
      console.log(data)
      let session_id = data.session_id
      tocheckout(session_id)
    }).fail(function (jqXHR, status, error) {
      console.log(jqXHR)
      alert(status)
      console.log("hello")
    })
    // stripe.redirectToCheckout({
    //     items: [{
    //       plan: 'plan_T6JwYzOxwf5',
    //       quantity: 1
    //     }],

    //     // Do not rely on the redirect to the successUrl for fulfilling
    //     // purchases, customers may not always reach the success_url after
    //     // a successful payment.
    //     // Instead use one of the strategies described in
    //     // https://stripe.com/docs/payments/checkout/fulfillment
    //     successUrl: 'https://your-website.com/success',
    //     cancelUrl: 'https://your-website.com/canceled',
    //   })
    //   .then(function (result) {
    //     if (result.error) {
    //       // If `redirectToCheckout` fails due to a browser or network
    //       // error, display the localized error message to your customer.
    //       var displayError = document.getElementById('error-message');
    //       displayError.textContent = result.error.message;
    //     }
    //   });
  });

  function tocheckout(session_id) {
    stripe.redirectToCheckout({
      sessionId: session_id
    }).then(function (result) {
      alert('some error while redirecting to checkout')
    })
  }
</script>
<form action="/payment/create_subscription" method="POST">
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_UT0fye7gy1AFe26rO6OZoZ0100Fn1MsVuy" data-image="/images/marketplace.png"
    data-name="Emma's Farm CSA" data-description="Subscription for 1 weekly box" data-label="Sign Me Up!">
  </script>
</form>
{% endblock %}